// Typography
$base-font-size: 20px;
$primary-font: "Roboto", sans-serif;
$mono-font: "Roboto Mono", sans-serif;

// Colors
$white: #fff;
$eerie: #191919;
$pastel: #ced0ce;
$platinum: #e6e8e6;
$flame: #f15025;
